.map-container-7{
overflow:hidden;
padding-bottom:56.25%;
position:absolute;
height:10;
}
.map-container-7 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.map-size{
	height: 200px;
  width: 80%;
	
}

.text_align{
	text-align:center;
}