$font-special:"Neue Helvetica W01",Helvetica,Arial,sans-serif !default;
$font: "Open Sans", sans-serif;
$text-highlight: #2B7BC2;
$text: black;
$font-weight-light: 300;
$gray-break-line: #CCCCCC;//not from common
$grayMedium:#666 !default;
$grayHdrBkground:   #e6e7e9 !default;
$alert:			    #bb0000 !default;
$grayDark:			#333 !default;
$grayDarker:		#222 !default;

.text-highlight-xs{
  color: $text-highlight;
}



.img_right {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

body{
  margin-left: 0;
  margin-right: 0;
  
  background-color:#e0e0eb;
}

.store-header{
  margin-top: 18px;
  margin-left: 15px;
  
  .find-store-link{
    padding: 2px 0 0 10px;
    color: $text;
    font: 14px $font;
    display: inline-block;
  } 
  .store-header-title{
    margin: 12px 0 0 2px;
    padding: 0;
    font-size: 24px;
  }
}

.store-body{
  margin-top: 20px;
}
.store-info
{
  margin: 12px 0 0 17px;
  
  span{
    height: 20px;
  }
  .map{
    margin-top: 10px;
    &:hover, :focus{
      text-decoration: none;
    }
  }
  .store-hours{
    margin-top: 14px;
    .store-hour{
      margin-bottom: 1px;
    }
    .day{
      float: left;
      width: 107px;
      font-weight: bold;
    }
  }
}

.store-address,.store-hours{
    width: 225px;
    padding: 0;
    color: $text;
    font: normal 16px/20px $font-special;
    margin-bottom: 12px;
}

.break-lines{
  margin: 29px -1.3em 0 -1.3em;
  height: 2px;
  border: 0;
  background-color: $gray-break-line;
}
.store-other-info{
  margin-top: 18px;
}
.store-features {
  font: 16px $font;
  margin-bottom: 24px;
  // display: block;
  .store-feature-title{
    font-weight: bold;
  }
  .store-appointment{
    margin-top: 2px;
    display: block;
    text-decoration: none;
    &:hover,:focus{
      cursor: pointer;
    }
  }
  .store-detail{
    margin-top: 2px;
    margin-right: 20px;
    font: 16px/21px $font;
  }
}
.slide-open{
  .slide-btn{
    text-decoration: none;
  }   
  .store-event-header{
    font: bold 16px $font;
    margin: 0;  
  }
  .store-event-description{
    display: block;
    font: 16px/21px $font;
  }
  .select-date{
    font: bold 16px $font;
    margin-top: 19px;
  }
  .event-block{
    border: 1px solid $text;
    height: 66px;
    width: 220px;
    margin: 6px 0 20px 0;
    padding-top: 14px;
    padding-left: 13px;
    font: 14px $font;
    background-color: #ffffff;
    p{
      margin: 0;
    }  
  }
}
.store-modal {
    display: none;
}

@media screen and (min-width:768px) {
  .text-highlight-xs{
    color: $text;
  }
  .text-highlight-md{
    color: $text-highlight;
  }
  .store-page-container{
    width: 1008px;
    height: auto;
    margin: 0 auto;
  }
  .break-lines{
    display: block;
    margin: 19px 0 0 0;
    height: 1px;
    background-color: $gray-break-line;
  }
  .store-header
  {
    margin: 30px 0 0 0;
    .store-header-title{
      padding: 0;
      margin-left: 0;
      font: $font-weight-light 40px $font-special;
    }
    .link-back{
      float: right;
      
      .find-store-link{
        color: $text-highlight;
        padding: 29px 15px 0 0;
        font: 12px $font;
        &:hover{
          cursor: pointer;
        }
      }
      .icon-chevron-left{
        display: none;
      }
    } 
    .store-search{
      .store-search-container{
        display: block;
      }
      .view-by-list, .find-a-store{
        font-size: 20px;
        display: inline-block;
        margin: 0 20px 0 2px ;
        width: 45%;
        height: 61px;
      }
      .view-by-list{
        width: 390px;
      }
      .store-dropdown, .find-store-textbox{
        display: inline;
        width: 219px;
        height: 40px;
        margin: 20px 8px;
        padding-left: 8px;
        font-size: 14px;
      }
      .find-store-btn{
        background-color: $grayDark;
        border: 0;
        border-radius: 2px;
        color: white;
        font: 14px $font;
        padding: 12px 20px;
      }
      .find-store-close{
        display: inline-block;
        font-size:30px;
        margin-left: 90px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .store-body{
    margin-top: 29px;
  }
  .store-content{
  
/*    border: 1px solid #ddd; */
  border-radius: 4px;
  padding: 5px;
  width: 700px;
  height:500px;
  } 
  
  .img{
   border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  }
  
  .store-event-panel{
    width: 76%;
    float: left;
    clear: none;
    
     width: 100%;
    height: auto;
  }
  .store-info{
    width: 24%;
    float: right;
    clear: none;
    margin: 0;
    .store-info-container{
      margin-left: 10px;
    }  
    .store-address{
      margin-top: -4px;
      margin-bottom: 7px;
      font: 18px/24px $font-special;
      span{
        display: inline-block;
      }
      .map{
        font: bold 12px $font-special;
        margin: 6px 0 14px 0;
      }
    }
    .holiday-alert{
      font: bold 12px $font-special;
      color: $alert;
    }
    .store-hours{
      font: 14px $font;
      margin-top: 14px;
      .store-hour{
        margin-bottom: 1px;
        clear: both;
      }
      .day{
        float: left;
        width: 95px;
        font-weight: bold;
      }
    }
    .break-lines{
      margin: 18px 0 0 0;
    }
    .store-features{
      margin-bottom: 22px;
      display: block;    
      font: 14px $font;
      
      .store-feature-title{
        font-weight: bold;
      }
      
      .text-inline{
        display: inline;
      }
      .store-detail{
        margin-top:2px;
        font: 14px $font;
        line-height: 145%;
      }
    }
  }
 
  .slide-open {
    border: 0;
    background: transparent;
    margin: 22px 0;
    float: left;
    
    .slide-btn {
      display: inline-block; /* minimize size to avoid click = content flash */
      padding: 0;
      text-decoration:none;
      
      .slide-title{
        font: $font-weight-light 24px $font-special;
        display: inline;
        color: $text;
      } 
      .slide-other-title{
        font: bold 18px $font;
        color: $text;
        display: inline;
      }
      .icon-plus {
        display: none;
      }
    }
    .slide-panel {
      display: block;
      padding: 0;
      .slide-description{
         float: left;
          font: 14px/20px $font;
          margin-top: 10px;
      }
      .event-description-container{
        float: left;
        clear: none;
        width: 504px;

        .store-event-header{
          font-size: 16px;
          margin-top: 14px;
        }
        .store-event-img{
          margin-top:8px;
        }
        .store-event-description{
          float: left;
          font: 14px/19px $font;
          margin-top: 17px;
        }
      }
      .event-block-container{
        float: left;
        clear: none;
        width: 230px;
        padding-left: 30px;
        .select-date{
          margin: 22px 0 6px 0;
          font-size: 14px;
        }
        .event-block{
          border: 1px solid $text;
          height: 60px;
          width: 212px;
          margin: 6px 0 12px 0;
          padding-top: 6px;
          padding-left: 13px;
          font: 12px $font;
          p{
            margin: 4px 0 0 0;
          }   
          &:hover{
            cursor: pointer;
          }
        }

        .event-description{
          background-color: $grayHdrBkground;
          margin-top: -12px;
          padding: 9px 15px 14px 14px;
          font: 12px/15px $font;
          width: 212px;
        }
      }
    }
  }
  
  /* The Modal (background) */
.store-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $grayMedium; /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.store-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 5px 10px 80px 10px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
  width: 70%; /* Could be more or less, depending on screen size */
  
  .modal-img-container{
    background-color: $grayHdrBkground;
    padding: 20px 20px 60px 20px;
  }
  .modal-img{
    z-index:1;
  }
  .store-modal-link{
    color: $text-highlight;
    font-size:10px;
    float: right;
    clear: none;
    margin: 20px;
  }
  .store-modal-btn{
    background-color: $grayDarker;
    color: white;
    font: 18px $font;
    margin-top: 10px;
    padding:8px 40px;
    border: 0;
    float: right;
    clear: none;
  }
}

/* The Close Button */
.store-modal-close {
    color: white;
    background-color: black;
    float: right;
    font-size: 24px;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: -1px 1px 1px $grayMedium;
    line-height: 22px;
    text-align: center;
    margin: -20px -25px 0 0;
    
    &:hover,:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }

  
}