html, body {
    max-width: 100%;
    overflow-x: hidden !important;
    background-color: #f5f5f5;
}
.wrapper {
  position: relative;
  height: 350px;
  background-color: #f5f5f5;
}
.header {
  height: 300px;
  background-image: url("http://image.dek-d.com/27/0391/4869/119477071");
  background-size: contain;
  transform: rotate(-4deg);
  margin-top: -70px;
  position: absolute;
  top: 0;
  right: -20%;
  left: -20%;
  bottom: 0;
  border: 2px solid #CCD5DB;
}
.round-image{
  border-radius:100%;
  height: 200px; 
  margin: 0 auto;
  top: 150px;
  left: 200px;
  width: 200px; 
  overflow:hidden;
  position: absolute;
  z-index: 1;
  border: 2px solid #CCD5DB;
}
#LineTime{
  position: absolute;
  right: 0;
  width: 60%;
}
.footer{
  margin-left: -64%;
  border-top: 1px solid #E4EAEC;
  width: 160%;
  padding: 10px;
}
.one{
  text-align: center;
  padding: 0px 10px;
}
.Portfolio_title{
  font-size: 30px;
  font-weight: bold;
    width: 300px;
}
.Portfolio_title > p{
  font-weight: lighter;
  font-size: 20px;
  color: #6E6E6E;
}
.portfolio_content{
  padding: 15px 10px;
  width: 300px;
}
#Portfolio{
  padding-left: 25px;
  padding-top: 25px;
  position: absolute;
}
  #centerpixel{
    position: absolute;
    width:100%;
  }
@media screen and (max-width: 990px){
  #centerpixel{
    position: absolute;
    width:100%;
  }
  #Portfolio{
    width: 100%;
  }
  .inner{
    display: table;
    margin: 0 auto;
  }
  .Portfolio_title{
    text-align: center;
  }
  #LineTime{
    margin-top: 300px;
    left: 0;
    width: 100%;
  }
  .footer{
    margin-left: auto;
    font-size: 12px;
    width: 100%;
  }
  .wrapper{
    width: 100%;
  }
  .outer-image{
    width: 50%;
    margin: 0 auto;
  }
  .round-image{
    left: 50%;
    margin-left: -100px;
  }
}
/*Contact form;type=form*/
#mailer{
	height: 320px;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	margin-top: 3px;
}
/*Input name+email;type=text*/
#mailer > .name input, #mailer > .email input{
	max-width: 900px;
	height: 40px;
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
}
/*Input message;type=text*/
#mailer > .text textarea{
	max-width: 900px;
	width: 100%;
	height: 150px;
	margin-bottom: 5px;
	border-radius: 5px;
	resize: none;
}
/*Send button;type=submit*/
#mailer > .submit input{
	width: 150px;
	height: 40px;
	float: right;
	border-radius: 5px;
}
/*Reset button;type=reset*/
#mailer > .reset input{
	width: 150px;
	height: 40px;
	float: left;
	border-radius: 5px;
}
#mailer > .name input, #mailer > .email input, #mailer > .text textarea{
	border: 1px solid #e5e5e5;
}
#mailer > .submit input, #mailer > .reset input{
	color: #6b6b6b;
	border: 1px solid #e5e5e5;
	background-color: #f5f5f5;
 }
 #mailer > .submit input:hover, #mailer > .reset input:hover{
	background-color: #6b6b6b;
	color: #f5f5f5;
 }

/*Mail was sent*/
#wraptheform{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    margin-left: -37%;
    margin-bottom: 50px;
    margin-top: -200px;
}
@media screen and (max-width: 990px){
	#wraptheform{
		margin-top: -100px;
		margin-left: 2.5% !important;
		width: 95%;
	}
}
#contactwas{
	color: #a0a0a0;
	display: none;
	font-weight: bold;
	font-size: 30px;
	z-index: 1;
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -172px;
}
#contactform{
	text-align: center;
	color: #6E6E6E;
}
body {
  color: #768390;
  background: #F5F5F5;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3D4351;
  margin-top: 0;
}

a {
  color: #FF6B6B;
}
a:hover {
  color: #ff9a9a;
  text-decoration: none;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.timelineMAIN-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  /*border-bottom: 1px solid #E4EAEC;*/
}
.timelineMAIN-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}
.timeline h3{
  margin-top: 0px;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 350;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: #768390;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #4AA6C7;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #4AA6C7;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

