

.event-primary h2 {margin-top:10px}

.nopadding {
        padding: 0 !important
    }
    time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

time.pink {
    background-color: rgb(197, 44, 102);
}
    time.purple {
        background-color: rgb(165, 82, 167)
    }
    
    time.dkblue
    {
        background-color: #336699;
}

time.blue_green { background-color: #148aa5 }
    time.blue_violet { background-color: #3714a4}
    time.brown { background-color: #964B00}
    time.crimson { background-color: #a50516}
    time.deep_pink { background-color: #fb3c8f}
    time.forest_green { background-color: #1b4f15}
    time.fuchsia { background-color: #a51497}
    time.gray { background-color: #686868}
    time.green { background-color: #3aa03a}
    time.hotpink { background-color: #ff0080}
    time.lemon { background-color: #fee233}
    time.ligh_blue { background-color: #8bbdeb}
    time.light_red { background-color: #fc6a6c}
    time.lime { background-color: #c1fd33}
    time.lime_green { background-color: #2bfd2f}
    time.magenta { background-color: #fc1cad}
    time.maroon { background-color: #7f2b14}
    time.midnight { background-color: #000066}
    time.olive { background-color: #2b4726}
    time.orange { background-color: #fd7222}
    time.orange_red { background-color: #fc331c}
    time.orange_yellow { background-color: #ffcc00}
    time.peach { background-color: #FFE5B4}
    time.pink { background-color: #fc5ab8}
    time.purple { background-color: #af31f2}
    time.red { background-color: #fc0d1b}
    time.red_orange { background-color: #d7462c }
    time.salmon { background-color: #f69e94}
    time.tan { background-color: #f2ddbf}
    time.teal { background-color: #2b8a6d}
    time.violet { background-color: #6b28ce}
    time.violet_blue { background-color: #6041fa}
    time.white { background-color: #ffffff}
    time.yellow { background-color: #feee35}
    time.yellow_green { background-color: #defd35}
    time.yellow_orange { background-color: #fec42e}

    .time {
        background-color: rgb(165, 82, 167);
    }

    time > span {
        display: none;
    }

    time > .day {
        display: block;
        font-size: 4em;
        font-weight: 100;
        line-height: 1;
    }

    time > .month {
        display: block;
        font-size: 24pt;
        font-weight: 900;
        line-height: 1;
    }
    .nopadding {padding:0 !important;margin:0!important;}
    .panel-primary > .panel-footer {
        color: #fff!important ;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    .panel-primary > .panel-footer p,.panel-primary a {color:#FFF}
    
    
    // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

// Accordion Height
$a-height: 250px;

// Position text along bottom
$text-offset: $a-height - 90;

// Page Title
h1 {
  
  text-align:center;
  font-family:Montserrat,sans-serif;
  color:#333;

}

.accordion {

  width:100%;
  max-width:1080px;
  height:$a-height;
  overflow:hidden;
  margin:50px auto;

  ul {

    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {

      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:16.666%; // 6 into 100
      height:$a-height;

      background-repeat:no-repeat;
      background-position:center center;

      transition:all 500ms ease;

      div {
        
        display:block;
        overflow:hidden;
        width:100%;

        a {
          
          display:block;
          height:$a-height;
          width:100%;

          position:relative;
          z-index:3;
          vertical-align:bottom;
          padding:15px 20px;
          box-sizing:border-box;
          color:#fff;
          text-decoration:none;
          font-family:Open Sans, sans-serif;
          
          transition:all 200ms ease;

          * {

            opacity:0;
            margin:0;
            width:100%;
            text-overflow:ellipsis;
            position:relative;
            z-index:5;
            
            white-space:nowrap;
            overflow:hidden;
            
            -webkit-transform:translateX(-20px);
            transform:translateX(-20px);

            -webkit-transition:all 400ms ease;
            transition:all 400ms ease;

          }

          h2 {

            font-family:Montserrat,sans-serif;
            text-overflow:clip;
            font-size:24px;
            text-transform:uppercase;
            margin-bottom:2px;
            
            top:$text-offset;

          }
          
          p {
            
            top:$text-offset;
            font-size:13.5px;
            
          }

        }

      }

    }
    
    // Background images
    li:nth-child(1) { background-image:url('http://michael-ferry.com/assets/accordion1.jpg'); }
    li:nth-child(2) { background-image:url('http://michael-ferry.com/assets/accordion2.jpg'); }
    li:nth-child(3) { background-image:url('http://michael-ferry.com/assets/accordion3.jpg'); }
    li:nth-child(4) { background-image:url('http://michael-ferry.com/assets/accordion4.jpg'); }
    li:nth-child(5) { background-image:url('http://michael-ferry.com/assets/accordion5.jpg'); }
    li:nth-child(6) { background-image:url('http://michael-ferry.com/assets/accordion6.jpg'); }

    &:hover li,
    &:focus-within li { width:8%; }
    
    li:focus {
      outline: none;
    }

    &:hover li:hover,
    // allow users to tab through active slides
    li:focus,
    &:focus-within li:focus {

      width:60%;

      a {
        
        background:rgba(0,0,0,.4);
        
        * {
          
          opacity:1;
          -webkit-transform:translateX(0);
          transform:translateX(0);
        
        }
      
      }

    }
    
    &:hover li {
      width: 8% !important;
      
      a * { opacity: 0 !important; }
    }
    
    &:hover li:hover {
      width:60% !important;

      a {
        
        background:rgba(0,0,0,.4);
        
        * {
          
          opacity:1 !important;
          -webkit-transform:translateX(0);
          transform:translateX(0);
        
        }
      
      }
    }

  }

}

// Stack items
@media screen and (max-width: 600px) {
  
  // IE gets fussy if this isn't here
  body { margin:0; }
  
  .accordion {
    
    height:auto;
    
    ul,ul:hover {
      
      li,li:hover {
        
        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;
        
        -webkit-transition:none;
        transition:none;
        
      }
      
    }
    
  }

}

.about {
  
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  color:#666;
  
  a {
    
    color:blue;
    text-decoration:none;
    
    &:hover { text-decoration:underline; }
    
  }
  
}